@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html, body, #root {
  height: 100%;
}

body{
  margin-top: 3rem;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
}



ul,
li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}


h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

.login-title {
  margin-bottom: 0;
}

.error{
  font-size: 1rem;
  color: tomato;
  text-align: center;
}


@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}
