.footer{
    padding: 1em 2.5em;
    background-color: #2c7be5;
    width: 100%;
}

.footer_container{
    max-width: 50rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

@media (min-width: 600px){
    .footer{
        font-size: 1.25rem;
    }
}