.header {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 4em;
  background: white;
  top: 0;
}

.header_logo {
  font-size: 2rem;
}

.header_container {
  padding: 0.5em 1em;
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
}

.nav_link,
.active {
  padding: 0.25em;
}

.active {
  border-bottom: 1px solid black;
}

.nav_link:hover {
  color: #6d6d6d;
}

@media (min-width: 600px) {
  .header {
    font-size: 1.25rem;
  }
}
