.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.header {
  margin-bottom: 2rem;
}

.header p {
  color: #555;
}


.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}


.actionsWrapper {
  display: flex;
  justify-content: center; /* 🔥 simetria */
}


.actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  width: 100%;
  max-width: calc((100% / 3) * 3);
}


@media (max-width: 900px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .actions {
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .actions {
    grid-template-columns: 1fr;
  }
}
